<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-59</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-130</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_c</key>
		<integer>-12</integer>
		<key>@MMK_R_ordfeminine</key>
		<integer>-65</integer>
		<key>@MMK_R_v</key>
		<integer>-55</integer>
		<key>@MMK_R_z</key>
		<integer>6</integer>
		<key>N</key>
		<integer>0</integer>
		<key>V</key>
		<integer>-160</integer>
		<key>t</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_AE</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>10</integer>
		<key>@MMK_R_v</key>
		<integer>-13</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-13</integer>
		<key>@MMK_R_V</key>
		<integer>-12</integer>
		<key>@MMK_R_Y</key>
		<integer>-27</integer>
	</dict>
	<key>@MMK_L_D</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_J</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>-35</integer>
		<key>@MMK_R_X</key>
		<integer>-50</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_Z</key>
		<integer>-30</integer>
		<key>@MMK_R_comma</key>
		<integer>-60</integer>
		<key>@MMK_R_x</key>
		<integer>-7</integer>
		<key>H</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-13</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-75</integer>
		<key>@MMK_R_J</key>
		<integer>-93</integer>
		<key>@MMK_R_X</key>
		<integer>-24</integer>
		<key>@MMK_R_Z</key>
		<integer>-17</integer>
		<key>@MMK_R_a</key>
		<integer>-22</integer>
		<key>@MMK_R_c</key>
		<integer>-20</integer>
		<key>@MMK_R_comma</key>
		<integer>-140</integer>
		<key>@MMK_R_v</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_IJ</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_J</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_comma</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-50</integer>
		<key>@MMK_R_emdash</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-80</integer>
		<key>@MMK_R_U</key>
		<integer>-25</integer>
		<key>@MMK_R_V</key>
		<integer>-98</integer>
		<key>@MMK_R_Y</key>
		<integer>-132</integer>
		<key>@MMK_R_c</key>
		<integer>-10</integer>
		<key>@MMK_R_ordfeminine</key>
		<integer>-137</integer>
		<key>@MMK_R_v</key>
		<integer>-63</integer>
	</dict>
	<key>@MMK_L_Q</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-15</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_C</key>
		<integer>-40</integer>
		<key>@MMK_R_J</key>
		<integer>-90</integer>
		<key>@MMK_R_S</key>
		<integer>-12</integer>
		<key>@MMK_R_T</key>
		<integer>15</integer>
		<key>@MMK_R_V</key>
		<integer>20</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_c</key>
		<integer>-50</integer>
		<key>@MMK_R_comma</key>
		<integer>-110</integer>
		<key>@MMK_R_emdash</key>
		<integer>-98</integer>
		<key>@MMK_R_k</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-39</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
		<key>@MMK_R_x</key>
		<integer>-39</integer>
		<key>@MMK_R_z</key>
		<integer>-29</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-160</integer>
		<key>@MMK_R_C</key>
		<integer>-50</integer>
		<key>@MMK_R_J</key>
		<integer>-80</integer>
		<key>@MMK_R_a</key>
		<integer>-70</integer>
		<key>@MMK_R_c</key>
		<integer>-120</integer>
		<key>@MMK_R_comma</key>
		<integer>-100</integer>
		<key>@MMK_R_emdash</key>
		<integer>-68</integer>
		<key>@MMK_R_k</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>-50</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>semicolon</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-90</integer>
		<key>@MMK_R_C</key>
		<integer>-30</integer>
		<key>@MMK_R_J</key>
		<integer>-70</integer>
		<key>@MMK_R_U</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-90</integer>
		<key>@MMK_R_c</key>
		<integer>-90</integer>
		<key>@MMK_R_comma</key>
		<integer>-110</integer>
		<key>@MMK_R_emdash</key>
		<integer>-73</integer>
		<key>@MMK_R_k</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-24</integer>
		<key>@MMK_R_x</key>
		<integer>-40</integer>
		<key>@MMK_R_z</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_b</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-65</integer>
		<key>@MMK_R_V</key>
		<integer>-50</integer>
		<key>@MMK_R_X</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-20</integer>
		<key>@MMK_R_ordfeminine</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-25</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_comma</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-60</integer>
		<key>@MMK_R_T</key>
		<integer>-110</integer>
		<key>@MMK_R_U</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-110</integer>
		<key>@MMK_R_c</key>
		<integer>-20</integer>
		<key>@MMK_R_j</key>
		<integer>40</integer>
		<key>@MMK_R_ordfeminine</key>
		<integer>-120</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>-7</integer>
	</dict>
	<key>@MMK_L_emdash</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_J</key>
		<integer>-45</integer>
		<key>@MMK_R_T</key>
		<integer>-98</integer>
		<key>@MMK_R_X</key>
		<integer>-50</integer>
		<key>@MMK_R_ordfeminine</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
		<key>@MMK_R_x</key>
		<integer>-55</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_c</key>
		<integer>0</integer>
		<key>@MMK_R_h</key>
		<integer>40</integer>
		<key>@MMK_R_ordfeminine</key>
		<integer>30</integer>
		<key>braceright</key>
		<integer>50</integer>
		<key>bracketright</key>
		<integer>60</integer>
		<key>h</key>
		<integer>25</integer>
		<key>parenright</key>
		<integer>65</integer>
		<key>question</key>
		<integer>45</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_j</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-25</integer>
		<key>@MMK_R_emdash</key>
		<integer>-55</integer>
	</dict>
	<key>@MMK_L_l</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-16</integer>
		<key>@MMK_R_j</key>
		<integer>15</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_ordfeminine</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-65</integer>
		<key>@MMK_R_J</key>
		<integer>-100</integer>
		<key>@MMK_R_a</key>
		<integer>-12</integer>
		<key>@MMK_R_c</key>
		<integer>-35</integer>
		<key>@MMK_R_comma</key>
		<integer>-120</integer>
		<key>@MMK_R_emdash</key>
		<integer>-50</integer>
		<key>@MMK_R_ordfeminine</key>
		<integer>12</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_q</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-30</integer>
		<key>@MMK_R_j</key>
		<integer>34</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_c</key>
		<integer>-45</integer>
		<key>@MMK_R_comma</key>
		<integer>-78</integer>
		<key>@MMK_R_emdash</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_uni01F1</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-30</integer>
		<key>@MMK_R_c</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_uni01F2</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_c</key>
		<integer>-30</integer>
		<key>@MMK_R_comma</key>
		<integer>-80</integer>
		<key>@MMK_R_emdash</key>
		<integer>-15</integer>
		<key>@MMK_R_j</key>
		<integer>10</integer>
		<key>@MMK_R_k</key>
		<integer>0</integer>
		<key>@MMK_R_s</key>
		<integer>-12</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-20</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-30</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
	</dict>
	<key>dcaron</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_c</key>
		<integer>-25</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-10</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_ordfeminine</key>
		<integer>-40</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
