<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
	</array>
	<key>public.kern1.AE</key>
	<array>
		<string>OE</string>
	</array>
	<key>public.kern1.B</key>
	<array>
		<string>B</string>
		<string>germandbls</string>
	</array>
	<key>public.kern1.D</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>O</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>AE</string>
		<string>E</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
		<string>Fhook</string>
		<string>P</string>
	</array>
	<key>public.kern1.I</key>
	<array>
		<string>Alpha-latin</string>
	</array>
	<key>public.kern1.J</key>
	<array>
		<string>J</string>
		<string>U</string>
	</array>
	<key>public.kern1.K</key>
	<array>
		<string>K</string>
		<string>X</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>Lslash</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>largecircle</string>
		<string>at</string>
		<string>copyright</string>
		<string>registered</string>
	</array>
	<key>public.kern1.Q</key>
	<array>
		<string>Q</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
	</array>
	<key>public.kern1.S</key>
	<array>
		<string>S</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>Tretroflexhook</string>
	</array>
	<key>public.kern1.V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>slash</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>public.kern1.b</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>public.kern1.c</key>
	<array>
		<string>c</string>
	</array>
	<key>public.kern1.comma</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern1.e</key>
	<array>
		<string>e</string>
		<string>oe</string>
	</array>
	<key>public.kern1.emdash</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>minus</string>
		<string>asciitilde</string>
	</array>
	<key>public.kern1.f</key>
	<array>
		<string>f</string>
		<string>florin</string>
	</array>
	<key>public.kern1.g</key>
	<array>
		<string>g</string>
	</array>
	<key>public.kern1.i</key>
	<array>
		<string>fi</string>
	</array>
	<key>public.kern1.k</key>
	<array>
		<string>k</string>
		<string>x</string>
	</array>
	<key>public.kern1.l</key>
	<array>
		<string>l</string>
		<string>lslash</string>
		<string>fl</string>
	</array>
	<key>public.kern1.m</key>
	<array>
		<string>mu</string>
	</array>
	<key>public.kern1.n</key>
	<array>
		<string>n</string>
	</array>
	<key>public.kern1.ordfeminine</key>
	<array>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern1.q</key>
	<array>
		<string>q</string>
	</array>
	<key>public.kern1.quotedbl</key>
	<array>
		<string>asterisk</string>
		<string>degree</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
	</array>
	<key>public.kern1.s</key>
	<array>
		<string>s</string>
	</array>
	<key>public.kern1.semicolon</key>
	<array>
		<string>colon</string>
	</array>
	<key>public.kern1.uni01F1</key>
	<array>
		<string>Z</string>
	</array>
	<key>public.kern1.uni01F2</key>
	<array>
		<string>z</string>
	</array>
	<key>public.kern1.v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>AE</string>
		<string>slash</string>
	</array>
	<key>public.kern2.B</key>
	<array>
		<string>Germandbls</string>
	</array>
	<key>public.kern2.C</key>
	<array>
		<string>Alpha-latin</string>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>OE</string>
		<string>Q</string>
	</array>
	<key>public.kern2.F</key>
	<array>
		<string>Fhook</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>largecircle</string>
		<string>at</string>
		<string>copyright</string>
		<string>registered</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>Tretroflexhook</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
	<key>public.kern2.X</key>
	<array>
		<string>X</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>public.kern2.a</key>
	<array>
		<string>a</string>
		<string>ae</string>
	</array>
	<key>public.kern2.c</key>
	<array>
		<string>c</string>
		<string>chook</string>
		<string>d</string>
		<string>eth</string>
		<string>e</string>
		<string>g</string>
		<string>o</string>
		<string>oe</string>
		<string>q</string>
		<string>cent</string>
	</array>
	<key>public.kern2.comma</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern2.emdash</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>minus</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
	</array>
	<key>public.kern2.f</key>
	<array>
		<string>fi</string>
		<string>fl</string>
	</array>
	<key>public.kern2.h</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>l</string>
	</array>
	<key>public.kern2.j</key>
	<array>
		<string>j</string>
	</array>
	<key>public.kern2.k</key>
	<array>
		<string>k</string>
		<string>m</string>
		<string>n</string>
		<string>r</string>
	</array>
	<key>public.kern2.m</key>
	<array>
		<string>mu</string>
	</array>
	<key>public.kern2.ordfeminine</key>
	<array>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern2.quotedbl</key>
	<array>
		<string>asterisk</string>
		<string>degree</string>
	</array>
	<key>public.kern2.s</key>
	<array>
		<string>s</string>
	</array>
	<key>public.kern2.semicolon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern2.u</key>
	<array>
		<string>u</string>
	</array>
	<key>public.kern2.v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
	</array>
	<key>public.kern2.x</key>
	<array>
		<string>x</string>
	</array>
	<key>public.kern2.z</key>
	<array>
		<string>z</string>
	</array>
</dict>
</plist>
